{% extends "Title.html" %}
{% block page_scripts %}
<script language="javascript">
    function setPppBtn(){
        //alert("setPppBtn");
        var ppp_con = {{ppp_connected}};
        if(ppp_con){
            //alert("connected");
            document.getElementById("btn_ppp_con").className = "btn btn-danger";
            document.getElementById("btn_ppp_con").innerText = "断开";
            document.getElementById("ppp_status").className = "text-success";
            document.getElementById("ppp_status").innerText = "已连接";
            //alert(ppp_con);
        }
        else{
            //alert("disconnected");
            document.getElementById("btn_ppp_con").className = "btn btn-success";
            document.getElementById("btn_ppp_con").innerText = "连接";
            document.getElementById("ppp_status").className = "text-danger";
            document.getElementById("ppp_status").innerText = "未连接";
            //alert(ppp_con);            
        }
    }

    function load(){
        //alert("load");
        var num = {{default_page}};
        Tab(num);
        setPppBtn();        
    }

    function Tab(num){
        //alert("tab");
        var i;
        for(i = 0; i < 3; i++){
            if(i == num){
                //alert("show" + i);
                document.getElementById("div_" + i).style.display="";
                document.getElementById("sel_" + i).className="btn btn-success";
            }
            else{
                //alert("hide" + i);
                document.getElementById("div_" + i).style.display="none";
                document.getElementById("sel_" + i).className="btn btn-default";
            }
        }
    }
</script>
{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group btn-group-justified">
              <a href="#" class="btn btn-default" id="sel_0" onclick="Tab(0)">动态获取IP</a>
              <a href="#" class="btn btn-default" id="sel_1" onclick="Tab(1)">设置静态IP</a>
              <a href="#" class="btn btn-default" id="sel_2" onclick="Tab(2)">拨号连接</a>
            </div>
            <br>
            <br>
          </div>
        </div>
        <div class="row" id="div_0" style="display:none">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" method='POST'>
              <input type="hidden" name="current_page" value="0"/>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">IP地址</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="input_ipd" value="{{wan_ipd}}" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">子网掩码</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="input_maskd" disabled="disabled" value="{{maskd}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">网关</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" disabled="disabled" value="{{gatewayd}}" name="input_gatewayd">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">首选DNS服务器</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{dns1}}" name="input_dns1">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">备用DNS服务器</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{dns2}}" name="input_dns2">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="active btn btn-success" id="submit1">保存修改</button>
                  <span class="text-danger">{{errs1}}</span>
                  <span class="text-danger">{{sucs2}}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="row" id="div_1" style="display:none">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" method='POST'>
            <input type="hidden" name="current_page" value="1"/>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">IP地址</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="input_ips" value="{{wan_ips}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">子网掩码</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="input_masks" value="{{masks}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">网关</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{gateways}}" name="input_gateways">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">首选DNS服务器</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{dns1}}" name="input_dns1">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">备用DNS服务器</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{dns2}}" name="input_dns2">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="active btn btn-success" id="submit2">保存修改</button>
                  <span class="text-danger">{{errs2}}</span>
                  <span class="text-success">{{sucs2}}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="row" id="div_2" style="display:none">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" method='POST'>
            <input type="hidden" name="current_page" value="2"/>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">账号</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="input_pppname" value="pppname">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label class="control-label">密码</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" value="{{ppppwd}}" name="input_ppppwd">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label id="ckb_autoconn">
                      <input type="checkbox" name="ckb_autoconn {{autoconn_checked}}">自动连接</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" id='btn_ppp_con'></button>
                  <span id = "ppp_status"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
{% endblock %}